body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
p{
  color: grey;
  font-size: 17px;
}
a{
  text-decoration: none;
}
#top-bar{
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  margin-top: 0;
  text-align: right;
}
#top-bar a{
  margin-top: 10px;
  margin-right: 30px;
  color: orange;
  font-size: 25px;
  font-weight: 500;
}
section{
  display: flex;
  margin-top: 50px;
}
.half-width{
  width: 50%;
  padding: 0 10%; 
}
.half-width h1{
  font-weight: 700;
  font-size: 40px;
  color: rgb(112, 109, 109);
}
.half-width h1 span{
  color: orange;
}
.button-style{
  position: absolute;
  padding: 15px 25px;
  border-radius: 25px;
  margin-top: 50px;
  background-image: linear-gradient(orange, rgba(255, 68, 0, 0.89));
  color: white;
}
#first-image{
  width: 85%;
  margin-right: 20%;
}
.second-section{
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#second-image{
  width: 55%;
  margin-top: 10%;
}
#about-me{
 margin: 5% 4%; 
}
#about-me h2{
  color: rgb(92, 90, 90);
  font-size: 33px;
}
.third-section{
  margin: 40px auto;
  height: auto;
  justify-content: center;
}
.third-section h3{
  text-align: center;
  color: grey;
  font-size: 25px;
}
.recipe-section{
  margin: 10px 15px;
  width: 25%;
  border-radius: 15px;
  box-shadow: 1px 2px 30px 2px rgba(128, 128, 128, 0.384);
  justify-content: center;
}
.recipe-section img{
  display: block;
  margin: 20px auto;
  width: 80%;
  padding: 5px;
  border-radius: 20px;
}
.recipe-section h4{
  font-size: 20px;
  font-weight: 900;
}
.recipe-section h4, p{
  margin: 20px;
  color: rgba(0, 0, 0, 0.849);
}

footer{
  padding-top: 30px;
  height: 200px;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.9);
}
footer h4{
  margin-top: 50px;
  font-size: 23px;
  color: silver;
  font-weight: 800;
}
footer p{
  color: white;
}
footer span{
  color:rgba(211, 102, 62, 0.89);
}